.namearea {
    background-color: #26c5bd;
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    overflow-x:hidden;
    overflow-y:scroll;
    position: absolute;
    left: 220px;
    top: 10px;
    border: 1px solid black;
    border-radius: 15px;
    width: 400px;
    height: 40px;
    overflow-wrap:break-word;
}

.college {
    background-color: #26c5bd;
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    overflow-x:hidden;
    overflow-y:scroll;
    position: absolute;
    left: 220px;
    top: 75px;
    border: 1px solid black;
    border-radius: 15px;
    width: 400px;
    height: 26px;
    overflow-wrap:break-word;
}

.interestarea{
    background-color: #0d726b;
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    overflow-x:hidden;
    overflow-y:scroll;
    position: absolute;
    left: 0px;
    top: 136px;
    border: 1px solid black;
    border-radius: 15px;
    width: 600px;
    height: 75px;
    overflow-wrap:break-word;
    padding: 15px;
    z-index:2;
}

.interestbox1{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    overflow-x:hidden;
    overflow-y:scroll;
    position: absolute;
    left: 50px;
    top:  50px;
    border: 1px solid black;
    border-radius: 15px;
    width: 80px;
    height: 20px;
    overflow-wrap:break-word;
    z-index:3;
}
.interestbox2{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    overflow-x:hidden;
    overflow-y:scroll;
    position: absolute;
    left: 155px;
    top:  50px;
    border: 1px solid black;
    border-radius: 15px;
    width: 80px;
    height: 20px;
    overflow-wrap:break-word;
    z-index:3;
}
.interestbox3{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    overflow-x:hidden;
    overflow-y:scroll;
    position: absolute;
    left: 260px;
    top:  50px;
    border: 1px solid black;
    border-radius: 15px;
    width: 80px;
    height: 20px;
    overflow-wrap:break-word;
    z-index:3;
}
.interestbox4{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    overflow-x:hidden;
    overflow-y:scroll;
    position: absolute;
    left: 365px;
    top:  50px;
    border: 1px solid black;
    border-radius: 15px;
    width: 80px;
    height: 20px;
    overflow-wrap:break-word;
    z-index:3;
}
.interestbox5{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    overflow-x:hidden;
    overflow-y:scroll;
    position: absolute;
    left: 470px;
    top:  50px;
    border: 1px solid black;
    border-radius: 15px;
    width: 80px;
    height: 20px;
    overflow-wrap:break-word;
    z-index:3;
}

.infobox{
    background-color: #083b3b;
    color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    overflow-x:hidden;
    overflow-y:scroll;
    position: absolute;
    left: 0px;
    top: 250px;
    border: 1px solid black;
    border-radius: 15px;
    width: 600px;
    height: 125px;
    overflow-wrap:break-word;
    padding: 15px;
    z-index:2;
}

input:focus {
    outline: none;
}

.form-content {
    margin: 20px 20px 0px 0px;
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: absolute;
    left: 410px;
    top:125px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
}
