.user-container-ranking {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #d8d8d8;
  padding: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-container-ranking {
  gap: 1.7em;
  padding: 0 2rem 2rem;
  height: min-content;
  margin-top: 90%;
  margin-bottom: 5vh;
  background-color: #f5f5f5;
  border-radius: 10px;
}

body {
  background-color: #99b9b9;
}

.logo {
  padding-bottom: 2rem;
}

.score-ranking {
  background-color: #2cd5c4;
  padding: 1rem;
  border-radius: 3rem;
  font-size: 1.3rem;
  color: black;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-content-ranking {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  flex-grow: 1;
}

.title-ranking {
  font-weight: 800;
  font-size: 24px;
  padding: 5%;
}